/**
Name    : none.css
Versión : 1.0
Author  : Marcelo

**/

/* Estilos básicos
   =============== */

/* 
  Global
  =========*/

/*  {{ESTILOS CSS AQUÍ}}  */

/* 
  => Portada/búsqueda/search
  ===========================*/

/*  {{ESTILOS CSS AQUÍ}}  */



/* 
  => entradas
  ============*/


/*  {{ESTILOS CSS AQUÍ}}  */



/* 
  => Páginas
  =========*/



/*  {{ESTILOS CSS AQUÍ}}  */



/* 
  => error
  =========*/



/*  {{ESTILOS CSS AQUÍ}}  */



/* => Código Responsive
   =====================*/


/*  {{ESTILOS CSS AQUÍ}}  */



/* => Configuración estilos
   ========================*/

/*  {{ESTILOS CSS AQUÍ}}  */